awscli==1.16.53
boto3==1.9.43
botocore==1.12.43
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.3.9
docutils==0.14
Flask==1.0.2
Flask-S3==0.3.3
futures==3.2.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.1.0
pyasn1==0.4.4
python-dateutil==2.7.5
PyYAML==3.13
requests==2.20.1
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
